@import 'globalstyles';
.ImageSection {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 2rem;

  .img {
    width: 50%;

    img {
      width: 100%;

      object-fit: cover;
      height: 100%;
    }
  }
  .about-info {
    margin-left: 2rem;
    width: 50%;
    overflow: hidden;
    h4 {
      font-size: 2rem;
      text-transform: uppercase;
      color: var(--color-secondary);
    }
    p {
      text-align: justify;
    }
  }
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 1rem;
  margin: 2rem 0;
}
