@import 'globalstyles';
.App {
  .sidebar {
    width: 20%;
    height: auto;
    min-height: 100vh;
    background-color: var(--background-color);
    // background-color: #525161;
    position: fixed;
    // color: #b5a9b3;
    color: var(--color-secondary);
    z-index: 11;
    transform-origin: left;

    @media screen and (max-width: 1000px) {
      transform: translateX(-100%);
      transition: all 0.4s ease-in-out;
      width: 30%;
    }
    @media screen and (max-width: 411px) {
      transform: translateX(-100%);
      transition: all 0.4s ease-in-out;
      width: 50%;
    }
  }
  .nav-toggle {
    @media screen and (max-width: 1000px) {
      transform: translateX(0);
      transition: all 0.4s ease-in-out;
      min-height: 100%;
      height: 100vh2;
    }
  }
  .main-content {
    position: relative;
    width: 80%;
    margin-left: 20%;
    min-height: 100vh;
    // background-image: url(../img/dots.svg);
    display: grid;
    @media screen and (max-width: 1000px) {
      margin-left: 0;
      width: 100%;
    }
    @media screen and (max-width: 1000px) {
      width: 100%;
      margin-left: 0;
    }
    .content {
      margin: 5rem;
    }
  }
}
.hamburger {
  position: absolute;
  z-index: 5;
  top: 10%;
  right: 10%;
  width: 4rem;
  height: 4rem;

  display: none;
  &:hover {
    outline: none;
  }
  span {
    transform-origin: left;
    transition: all 1s ease;
  }
  .line1,
  .line2,
  .line3 {
    width: 100%;
    height: 0.3rem;
    background-color: var(--background-color);
    pointer-events: none;
    border-radius: 20px;
  }
  @media screen and (max-width: 1000px) {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }
}

.active {
  span {
    @media screen and (max-width: 1000px) {
      &:first-child {
        transform: rotate(40deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}
