@import 'globalstyles';
.App {
  .sidebar {
    width: 20%;
    height: auto;
    min-height: 100vh;
    background-color: var(--background-color);
    // background-color: #525161;
    position: fixed;
    // color: #b5a9b3;
    color: var(--color-secondary);
    z-index: 10;
    transform-origin: left;
    transition: all 0.3s ease;

    @media screen and (max-width: 1200px) {
      transform: translateX(-100%);
      transition: all 0.4s ease-in-out;
      width: 30%;
      @media screen and (max-width: 768px) {
        width: 40%;
      }
    }
    @media screen and (max-width: 480px) {
      // transform: translateX(-100%);
      // transition: all 0.4s ease-in-out;
      width: 50%;
    }
  }
  .nav-toggle {
    @media screen and (max-width: 1200px) {
      transform: translateX(0);
      transition: all 0.4s ease-in-out;
      min-height: 100%;
      height: 100vh2;
    }
  }
}
.hamburger {
  position: absolute;
  z-index: 5;
  top: 5rem;
  right: 5rem;
  width: 50px;
  height: 50px;
  @media screen and (max-width: 768px) {
    top: 3rem;
    right: 3rem;
  }

  display: none;
  &:hover {
    outline: none;
  }
  span {
    transform-origin: left;
    transition: all 1s ease;
  }
  .line1,
  .line2,
  .line3 {
    width: 100%;
    height: 0.3rem;
    background-color: var(--background-color);
    pointer-events: none;
    border-radius: 20px;
  }
  @media screen and (max-width: 1200px) {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }
}

.active {
  span {
    @media screen and (max-width: 1200px) {
      &:first-child {
        transform: rotate(40deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}
